<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ebookserver.mapper.PostMapper">
    <sql id="selectNotInBlackList">
        <!--foreach方法-->
        <!--作用：完成对sql语句的拼接-->
        <!-- collection="集合名字" item="集合中每一项的名字" separator="间隔符号" open="开始符号" close="结束符号"-->
        where user_id not in
        <foreach collection="users" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </sql>


    <insert id="post" useGeneratedKeys="true" keyProperty="id">
        insert into post (type, title, content_text, color, lyrics, user_id) values
        (#{type},#{title},#{contentText},#{color},#{lyrics},#{userId})
    </insert>

    <insert id="toImages">
        insert into image (post_id,url) values
        <foreach collection="urls" item="url" separator=",">
            (#{postId},#{url})
        </foreach>
    </insert>


    <select id="count" resultType="long">
        select count(*) from post
        <if test="users.size() != 0">
            <include refid="selectNotInBlackList">

            </include>
        </if>
    </select>

    <select id="page" resultType="com.example.ebookserver.pojo.Posts">
        select post.id,avatar,name,title,content_text,color,lyrics,like_num,collection_num
        from user,post where user.id=post.user_id
        <if test="users.size() != 0">
            and user.id not in
            <foreach collection="users" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        order by post.id desc
        limit #{start},#{pageSize}
    </select>
    <select id="selectPost" resultType="com.example.ebookserver.pojo.Posts">
        select post.id,user_id,avatar,name,title,content_text,color,lyrics,like_num,collection_num
        from post,user where post.user_id = user.id and post.id = #{postId}
    </select>

    <select id="selectComments" resultType="com.example.ebookserver.pojo.Comments">
        select comment.id,user_id,name,avatar,content,comment_time from user,comment where post_id = #{postId} and
        user.id = comment.user_id
    </select>

    <select id="getPostsByUserId" resultType="com.example.ebookserver.pojo.Posts">
        select post.id,user_id,avatar,name,title,content_text,color,lyrics,like_num,collection_num
        from user,post where user.id=post.user_id and user.id = #{id}
    </select>

    <select id="pageSearch" resultType="com.example.ebookserver.pojo.Posts">
        select post.id,user_id,avatar,name,title,content_text,color,lyrics,like_num,collection_num
        from user,post
        <where>
            user.id=post.user_id
            <if test="users.size() != 0">
                and user.id not in
                <foreach collection="users" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="color != null">
                and color = #{color}
            </if>
            <if test="text != null">
                and (content_text like concat('%',#{text},'%')
                or title like concat('%',#{text},'%')
                or user.name like concat('%',#{text},'%'))
            </if>
        </where>

        order by post.id desc
        limit #{start},#{pageSize}
    </select>

    <select id="countCarePosts" resultType="java.lang.Long">
        select count(*) from post where user_id in
        <foreach collection="careList" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </select>

    <select id="pageCare" resultType="com.example.ebookserver.pojo.Posts">
        select post.id,user_id,avatar,name,title,content_text,color,lyrics,like_num,collection_num
        from user,post where user.id=post.user_id and user_id in
        <foreach collection="careList" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
        order by post.id desc
        limit #{start},#{pageSize}
    </select>
</mapper>