<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ebookserver.mapper.UserMapper">

    <update id="updateById">
        update user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="avatar != 0">
                avatar = #{avatar}
            </if>
        </set>
        where id = #{id}

    </update>



    <select id="selectNotifies" resultType="com.example.ebookserver.pojo.Notify">
        select *
        from notify
        where post_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by notify.id desc
        limit #{start},#{pageSize}
    </select>
    <select id="countNotify" resultType="java.lang.Long">
        select count(*) from notify where post_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>